<div ng-class="{'sidebar-collapsed': sidebarVm.sharedModel.sidebarCollapsed}">
    <div>
        <i ng-click="sidebarVm.toggleCollapsed()" class="fa dp-collapse dp-collapse-right" ng-class="{'fa-chevron-left': !sidebarVm.sharedModel.sidebarCollapsed, 'fa-chevron-right': sidebarVm.sharedModel.sidebarCollapsed}"></i>
        <div class="collapsed-content">
            <h2>Starred tweets</h2>
            <p>Here we have an overview of our starred tweets</p>
            <div ng-repeat="tweet in sidebarVm.model.tweets" ng-if="tweet.starred">
                {{::tweet.user}} has tweeted {{::tweet.content}}
            </div>
        </div>
    </div>
</div>